

.container-update {
  width: 80%;
  height: 90vh;
  margin: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container-update .update {
    height: 80%;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}